@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar {
    display: none;
}

html,
body {
    font-family: sans-serif;
}

.font-pop {
    font-family: 'Poppins', sans-serif;
}

.font-sand {
    font-family: 'Quicksand', sans-serif;
}